* {
  font-size: 16px;
}

body {
  background: #edf5e1;
  color: #05386b;
}
.green {
  background: #5cdb95;
}

.blue {
  background: #05386b;
}

.startScreen {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  margin: auto;
  border: 3px solid #05386b;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.feedBack {
  display: flex;
  flex-direction: column;
  border: 2px solid #05386b;
}

.endScreen {
  display: flex;
  flex-direction: column;
  border: 2px solid #05386b;
}

.title {
  width: 40%;
  text-align: center;
  margin: 100px auto;
  padding: 40px;
  border: 3px solid #05386b;
}

.discription {
  text-align: center;
}

.startButton {
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 80px;
  color: #5cdb95;
}

.nextButton {
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 80px;
  font-size: 12px;
  color: #5cdb95;
  background: #05386b;
}

.images {
  border: 1px solid #05386b;
  border-radius: 8%;
}

.top {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  background: #379683;
}

.firstScreen {
  display: flex;
  justify-content: space-around;
  border: 2px solid #05386b;
  background: #379683;
}

.options {
  display: flex;
  flex-direction: column;
}

.question_number {
  text-align: center;
  font-size: 0.8em;
}

.question {
  text-align: center;
}

.guess {
  color: #5cdb95;
  background: #05386b;
}

.guess:hover {
  position: relative;
  top: 2px;
}

@media screen and (max-width: 520px) {
  .images {
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .guess {
    height: 40px;
    margin: 10px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 520px) {
  .images {
    width: 150px;
    height: 150px;
    margin: 15px;
  }

  .firstScreen {
    margin: auto;
    width: 60%;
  }
  .guess {
    height: 50px;
    width: 60%;
    margin: 20px auto;
    border-radius: 25px;
  }
}
