* {
  font-size: 20px;
  margin: 0;
}

body {
  background: #edf5e1;
  color: #7395ae;
}
.style {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  margin: auto;
  border: 3px solid black;
  background: #557a95;
}

fieldset {
  border: none;
  padding: 0;
}

.blue {
  background: #557a95;
}

.firstScreen {
  display: flex;
  justify-content: space-around;
  border: 2px solid #5d5c61;
  background: #557a95;
}

.firstScreen > p {
  color: #edf5e1;
}

.endScreen {
  display: flex;
  flex-direction: column;
  border: 2px solid #5d5c61;
}
.results {
  display: inline-block;
  margin: auto;
  padding: 10%;
  line-height: 200%;
  font-size: 1.5em;
}
.results > span {
  font-size: 1em;
}

.title {
  position: relative;
  top: 20px;
  width: 40%;
  text-align: center;
  margin: 100px auto;
  padding: 40px;
  border: 3px solid #5d5c61;
  text-align: center;
  background: #557a95;
}

.discription {
  text-align: center;
}

.startButton {
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 80px;
  color: black;
  background-color: #5d5c61;
  cursor: pointer;
}

.question {
  font-size: 1.3em;
  margin: 15px;
  text-align: center;
}

.nextButton {
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 80px;
  font-size: 110%;
  color: #7395ae;
  background: #5d5c61;
  cursor: pointer;
}

.images {
  border: 1px solid #5d5c61;
  border-radius: 8%;
}

.top {
  display: flex;
  justify-content: center;
}

.options {
  display: flex;
  flex-direction: column;
}

.question_number {
  text-align: center;
  font-size: 1em;
}

.guess {
  color: #7395ae;
  background: #5d5c61;
  cursor: pointer;
  font-size: 150%;
}

.guess:hover {
  position: relative;
  top: 2px;
}
.nextButton:hover {
  position: relative;
  top: 2px;
}

@media screen and (max-width: 520px) {
  .images {
    width: 90px;
    height: 90px;
    margin: 5px;
  }

  .style {
    height: 100vh;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
  }

  .guess {
    height: 40px;
    margin: 20px;
    border-radius: 25px;
  }
  .options {
    height: 100vh;
  }
  .startScreen {
    width: 100vw;
  }
  .style {
    width: 100vw;
  }
  .title {
    width: 90%;
  }
  p {
    width: 90%;
  }
}

@media screen and (min-width: 520px) {
  .images {
    width: 150px;
    height: 150px;
    margin: 15px;
  }
  .guess {
    height: 50px;
    width: 60%;
    margin: 10px auto;
    border-radius: 25px;
  }
  .firstScreen {
    width: 80%;
    margin: auto;
  }

  .title {
    width: 90%;
  }
}
